/.vs/DotNetStarter
/NetCoreStarter.Api/bin/Debug/net5.0
/NetCoreStarter.Api/obj
/NetCoreStarter.Core/bin/Debug/net5.0
/NetCoreStarter.Core/obj/Debug/net5.0
/NetCoreStarter.Infrustructure/bin/Debug/net5.0
/NetCoreStarter.Infrustructure/obj/Debug/net5.0
/NetCoreStarter.Infrustructure/obj
/NetCoreStarter.Core/obj
